body {
    font-family: "Trirong", serif;
  }
/* Nav bar */
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.navbar li {
    float: left;
}

ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

ul.navbar li a:hover {
    background-color: black;
    color: white;
    padding: 10px;
}
.navbar a:hover:active {
    color: blue;
  }
.Top_nav {
    background-color: #0969C8;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px;
    margin-left: 10px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}


.navbar a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        margin-top: 6px;
    }

    .logo img {
        width: 80px;
        margin-left: 0px;
    }

    .Top_heading {
        font-size: small;
    }

    .Top_description {
        font-size: 12px;
    }

    .navbar li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}




.food_section {
    padding: 40px;
    display: flex;
    justify-content: space-between;
}
.img_container{
    width: 43%;

}
.Info_img {
    width: 80%;
    align-items: center;
    height: 320px;
}
.Info_text {
    width: 40%;
    float: left;
  
}
.Info_img h4{
    text-align: center;
}
.Info_text p::first-letter {
    color: blue;
    text-transform: uppercase;
  }
.link_btn{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    background-color: black;
    text-transform: uppercase;
    margin: auto;
    margin-top: 40px;
    cursor: pointer;
    border-color: #333;
    border-width: 2px;
    border-style: none;
}
.link_btn a{
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .food_section{
        display: block;
        margin: auto;
    }
    
    .img_container{
        width: 90%;
    display: block;
    align-items: center;
    }
    .Info_img {
        width: 100%;
        align-items: center;
    }
    .Info_text {
        width: 80%;
        float: left;
      
    }
    .Info_img h4{
        text-align: center;
    }
}


/* footer */
.footer {
    height: 120px;
    background-color: black;
}

.footer p {
    color: #fff;
    text-align: center;
    padding: 50px 0;

}